name: ci

on:
  push:
    branches:
      - master
  pull_request:
  workflow_dispatch:

jobs:
  ci:
    name: ci-${{ matrix.os }}
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        os:
          - ubuntu-24.04
    steps:

      - name: checkout
        uses: actions/checkout@v6

      - name: setup-ollama
        uses: ./

      - name: test-ollama
        run: |
          ollama run ministral-3:3b-instruct-2512-q4_K_M "write a simple forth interpreter in haskell, don't do parsing"
